In [8]:
import pandas as pd

In [11]:
tests = {'sv_models':'sv', 'mv_models_64dim': 'mv', 'mv_models_oneoutput_64dim':'mv'}

In [9]:
sections=['introduction', 'materials', 'conclusion', 'comb']

In [12]:
result = {}
result_preds = {}
for name_test in tests:
    
    path_to_save = "/scratch/cinthiasouza/mv-text-summarizer/notebook/{}".format(name_test)
    
    aux_summ = {}
    aux_prob = {}
    
    for section in sections:
        
        aux_summ[section] = pd.read_csv("{}/summaries/{}.csv".format(path_to_save, section))
        if section != 'comb':
            aux_prob[section] = pd.read_csv("{}/predictions/{}.csv".format(path_to_save, section))
        
    result[name_test] = aux_summ
    result_preds[name_test] = aux_prob

## Single view

In [46]:
result['sv_models']['introduction'].describe()

       gb_rouge-1  gb_rouge-2  gb_rouge-l
count  924.000000  924.000000  924.000000
mean     0.359935    0.129044    0.265534
std      0.080836    0.063462    0.060266
min      0.152824    0.000000    0.135524
25%      0.303238    0.085588    0.223507
50%      0.356325    0.120172    0.257527
75%      0.413793    0.166342    0.296882
max      0.685083    0.469274    0.595323

In [47]:
result['sv_models']['materials'].describe()

       gb_rouge-1  gb_rouge-2  gb_rouge-l
count  924.000000  924.000000  924.000000
mean     0.294785    0.107601    0.241844
std      0.106222    0.121438    0.108942
min      0.061920    0.000000    0.077550
25%      0.222738    0.039886    0.182193
50%      0.280976    0.069652    0.212581
75%      0.347857    0.116116    0.258281
max      0.843602    0.842105    0.869341

In [48]:
result['sv_models']['conclusion'].describe()

       gb_rouge-1  gb_rouge-2  gb_rouge-l
count  924.000000  924.000000  924.000000
mean     0.348958    0.150472    0.280993
std      0.098732    0.118268    0.103037
min      0.075188    0.000000    0.108090
25%      0.285483    0.073294    0.215588
50%      0.340179    0.118927    0.253968
75%      0.406545    0.183909    0.310622
max      0.800000    0.785425    0.821793

In [49]:
result['sv_models']['comb'].describe()

       gb_rouge-1  gb_rouge-2  gb_rouge-l
count  924.000000  924.000000  924.000000
mean     0.487850    0.209006    0.317137
std      0.079348    0.095585    0.075553
min      0.208462    0.045714    0.148913
25%      0.439462    0.138569    0.264238
50%      0.489911    0.188260    0.302383
75%      0.541429    0.265556    0.358580
max      0.726899    0.536082    0.603392

## Multiview

In [26]:
result['mv_models_64dim']['introduction'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,cb_rouge-1,cb_rouge-2,cb_rouge-l,gb_rouge-1,gb_rouge-2,gb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.325659,0.105346,0.242992,0.345369,0.115179,0.252502,0.344674,0.116282,0.252837,0.346125,0.116278,0.253294,0.348773,0.118136,0.254671
std,0.080030,0.060650,0.059462,0.075986,0.060153,0.057058,0.081000,0.061978,0.058868,0.077825,0.061480,0.057945,0.078632,0.061475,0.057579
min,0.068111,0.000000,0.093984,0.119048,0.000000,0.130412,0.106918,0.005865,0.112877,0.115502,0.006211,0.108863,0.130178,0.006270,0.132092
25%,0.268826,0.064712,0.201433,0.293374,0.072911,0.211824,0.287427,0.069993,0.210027,0.294250,0.072797,0.211919,0.294001,0.074627,0.213430
50%,0.322030,0.094782,0.235421,0.339940,0.107369,0.245797,0.340641,0.107047,0.245699,0.340891,0.107484,0.246203,0.343699,0.107962,0.246510
75%,0.379403,0.132883,0.273052,0.395004,0.149912,0.281880,0.397059,0.150794,0.281653,0.397610,0.153518,0.282297,0.398640,0.153061,0.283332
max,0.685083,0.469274,0.581072,0.625514,0.448133,0.595323,0.685083,0.469274,0.595323,0.685083,0.469274,0.580624,0.625514,0.494208,0.595323

In [27]:
result['mv_models_64dim']['materials'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,cb_rouge-1,cb_rouge-2,cb_rouge-l,gb_rouge-1,gb_rouge-2,gb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.272356,0.089940,0.224117,0.276264,0.087079,0.222036,0.279496,0.091433,0.226602,0.280899,0.093072,0.227213,0.291445,0.099507,0.234529
std,0.105070,0.109006,0.100030,0.105747,0.107975,0.099958,0.106634,0.112620,0.101780,0.106151,0.111566,0.102386,0.107845,0.121405,0.108217
min,0.046921,0.000000,0.054311,0.044025,0.000000,0.049755,0.045455,0.000000,0.060366,0.044218,0.000000,0.051036,0.060976,0.000000,0.077550
25%,0.197015,0.028169,0.168485,0.199858,0.026900,0.169071,0.207101,0.027643,0.171242,0.209499,0.028500,0.171060,0.220169,0.032258,0.176968
50%,0.262138,0.055172,0.201233,0.264649,0.057307,0.201173,0.270019,0.057143,0.205099,0.273812,0.061076,0.203829,0.276689,0.062804,0.209707
75%,0.330297,0.105988,0.244025,0.332159,0.095238,0.239755,0.335452,0.101228,0.244533,0.337502,0.106156,0.242664,0.346572,0.109200,0.248595
max,0.715953,0.698039,0.760824,0.796460,0.795252,0.829658,0.843602,0.842105,0.869341,0.789700,0.770563,0.816274,0.739130,0.722628,0.774681

In [29]:
result['mv_models_64dim']['conclusion'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,cb_rouge-1,cb_rouge-2,cb_rouge-l,gb_rouge-1,gb_rouge-2,gb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.328693,0.122194,0.256106,0.337037,0.128540,0.262222,0.347773,0.135699,0.269164,0.353529,0.140802,0.273800,0.352852,0.140431,0.273229
std,0.094393,0.097201,0.085885,0.100028,0.107146,0.093893,0.099093,0.106057,0.093436,0.098856,0.115588,0.101799,0.098366,0.113210,0.098987
min,0.075949,0.000000,0.088541,0.115183,0.000000,0.104486,0.096552,0.000000,0.092490,0.101818,0.000000,0.104486,0.099644,0.000000,0.103362
25%,0.261931,0.058752,0.205165,0.266795,0.060555,0.203493,0.281676,0.067296,0.209849,0.285714,0.066806,0.213102,0.286720,0.068264,0.211419
50%,0.322947,0.095698,0.239570,0.329150,0.099869,0.244123,0.345867,0.107527,0.247726,0.346903,0.110208,0.247872,0.348249,0.109945,0.248972
75%,0.387551,0.153965,0.284063,0.394180,0.158651,0.291013,0.406061,0.168588,0.299053,0.405856,0.170945,0.299312,0.410411,0.170052,0.297024
max,0.745455,0.678899,0.721291,0.932692,0.932039,0.943884,0.808511,0.755365,0.794571,0.815789,0.805310,0.845955,0.815789,0.805310,0.845955

In [30]:
result['mv_models_64dim']['comb'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,cb_rouge-1,cb_rouge-2,cb_rouge-l,gb_rouge-1,gb_rouge-2,gb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.462922,0.177301,0.292321,0.457204,0.177548,0.292491,0.465835,0.185049,0.298171,0.464461,0.186805,0.299695,0.471477,0.191760,0.302068
std,0.074495,0.086869,0.066553,0.083554,0.088808,0.073335,0.078375,0.090355,0.071775,0.082337,0.094258,0.076908,0.079227,0.094251,0.074652
min,0.214022,0.026087,0.169784,0.112393,0.027122,0.088227,0.175329,0.020080,0.141627,0.169133,0.038462,0.123057,0.209302,0.033613,0.150372
25%,0.411137,0.114575,0.245135,0.407844,0.117259,0.244768,0.417571,0.119776,0.247873,0.416063,0.119954,0.249856,0.421648,0.122137,0.250532
50%,0.463535,0.159436,0.278150,0.461357,0.156165,0.277981,0.463753,0.162814,0.283303,0.466150,0.163338,0.280751,0.471434,0.167006,0.284301
75%,0.511512,0.217758,0.324666,0.505757,0.218729,0.323126,0.517938,0.230751,0.330412,0.518391,0.232338,0.329551,0.522620,0.244689,0.333408
max,0.713073,0.527919,0.555942,0.717117,0.585075,0.674496,0.722838,0.527363,0.602726,0.717850,0.560976,0.659434,0.724070,0.523256,0.559207

In [ ]:
Fusão 2

In [240]:
result['mv_models_16dim']['comb'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.462393,0.182752,0.294417,0.466151,0.186272,0.297620,0.468244,0.186763,0.299241
std,0.078895,0.093510,0.071971,0.078104,0.090591,0.071431,0.077885,0.090906,0.070198
min,0.229935,0.036437,0.153482,0.185687,0.031111,0.156946,0.169717,0.025723,0.157690
25%,0.408503,0.114155,0.243668,0.417006,0.120467,0.247015,0.417975,0.121411,0.251449
50%,0.460047,0.160510,0.277466,0.468825,0.164805,0.282016,0.467043,0.167901,0.284249
75%,0.518070,0.232100,0.328983,0.516283,0.232143,0.329350,0.518066,0.233739,0.330254
max,0.729358,0.540434,0.610996,0.703340,0.560976,0.571923,0.715152,0.559838,0.592898

## 32dim

In [248]:
result['mv_models_32dim']['introduction'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.321769,0.102984,0.241617,0.341455,0.114752,0.251653,0.345126,0.114835,0.251753
std,0.081741,0.060456,0.058012,0.080489,0.060748,0.057686,0.079296,0.062313,0.056716
min,0.106918,0.000000,0.095495,0.146341,0.000000,0.132892,0.119048,0.000000,0.123277
25%,0.266667,0.061318,0.201122,0.284849,0.070843,0.209639,0.291971,0.071051,0.211849
50%,0.316303,0.093960,0.233568,0.334677,0.106253,0.245381,0.336602,0.105138,0.244176
75%,0.371477,0.133984,0.271902,0.391819,0.146789,0.282041,0.397864,0.147633,0.281463
max,0.690722,0.447917,0.546733,0.617647,0.430279,0.548743,0.701887,0.494297,0.559733

In [249]:
result['mv_models_32dim']['materials'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.279832,0.095962,0.230297,0.283280,0.093674,0.229983,0.286120,0.095967,0.230362
std,0.108514,0.119419,0.108727,0.104624,0.114428,0.102542,0.108195,0.120445,0.107326
min,0.046921,0.000000,0.068931,0.038961,0.000000,0.060632,0.034940,0.000000,0.040844
25%,0.203519,0.030303,0.171785,0.212499,0.032258,0.174769,0.215270,0.030132,0.171211
50%,0.267195,0.057971,0.202546,0.269395,0.059259,0.205656,0.271143,0.059150,0.207196
75%,0.336432,0.104315,0.247100,0.335121,0.104353,0.246529,0.340565,0.103974,0.242035
max,0.789700,0.770563,0.816274,0.820084,0.810127,0.849394,0.854460,0.843602,0.878453

In [250]:
result['mv_models_32dim']['conclusion'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.324220,0.118854,0.252041,0.345695,0.133985,0.266199,0.335555,0.122135,0.256397
std,0.092103,0.094534,0.086041,0.100035,0.104970,0.093754,0.096376,0.095055,0.085062
min,0.097983,0.000000,0.102465,0.042735,0.000000,0.061850,0.077220,0.000000,0.100157
25%,0.259228,0.058359,0.197397,0.278637,0.063940,0.207811,0.269125,0.060888,0.205698
50%,0.321307,0.095238,0.236212,0.341355,0.108108,0.246871,0.332143,0.099379,0.239946
75%,0.376785,0.149085,0.277075,0.404382,0.167193,0.298264,0.392863,0.150566,0.284363
max,0.761468,0.759259,0.800050,0.787879,0.733624,0.777775,0.800000,0.754386,0.771324

In [17]:
result['mv_models_32dim']['comb'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.461824,0.177555,0.295702,0.462800,0.179415,0.294149,0.467766,0.185637,0.299015
std,0.076881,0.090424,0.072175,0.078972,0.088890,0.070131,0.078174,0.090249,0.070570
min,0.236311,0.015228,0.165754,0.115756,0.021368,0.091451,0.205231,0.033126,0.166671
25%,0.412159,0.114137,0.247147,0.411254,0.116312,0.246961,0.418142,0.120000,0.250003
50%,0.458013,0.157058,0.280404,0.462469,0.157691,0.277801,0.469388,0.167260,0.285148
75%,0.512446,0.217223,0.324788,0.515376,0.223145,0.324566,0.517037,0.229039,0.331156
max,0.697581,0.607330,0.630355,0.697039,0.536489,0.611711,0.724070,0.544732,0.576926

In [5]:
result['mv_models_64dim']['introduction'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,gb_rouge-1,gb_rouge-2,gb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.325659,0.105346,0.242992,0.344674,0.116282,0.252837,0.344550,0.114506,0.251954,0.348773,0.118136,0.254671
std,0.080030,0.060650,0.059462,0.081000,0.061978,0.058868,0.076104,0.060109,0.055979,0.078632,0.061475,0.057579
min,0.068111,0.000000,0.093984,0.106918,0.005865,0.112877,0.119048,0.008511,0.130412,0.130178,0.006270,0.132092
25%,0.268826,0.064712,0.201433,0.287427,0.069993,0.210027,0.291778,0.070175,0.211133,0.294001,0.074627,0.213430
50%,0.322030,0.094782,0.235421,0.340641,0.107047,0.245699,0.339940,0.105745,0.244859,0.343699,0.107962,0.246510
75%,0.379403,0.132883,0.273052,0.397059,0.150794,0.281653,0.396320,0.148487,0.281206,0.398640,0.153061,0.283332
max,0.685083,0.469274,0.581072,0.685083,0.469274,0.595323,0.625514,0.448133,0.595323,0.625514,0.494208,0.595323

In [7]:
result['mv_models_64dim']['materials'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,gb_rouge-1,gb_rouge-2,gb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.272356,0.089940,0.224117,0.289923,0.100999,0.235882,0.289642,0.095609,0.230433,0.291445,0.099507,0.234529
std,0.105070,0.109006,0.100030,0.110619,0.124610,0.112262,0.106047,0.114627,0.103590,0.107845,0.121405,0.108217
min,0.046921,0.000000,0.054311,0.060976,0.000000,0.057207,0.044304,0.000000,0.049054,0.060976,0.000000,0.077550
25%,0.197015,0.028169,0.168485,0.216544,0.031250,0.175066,0.216976,0.032787,0.173597,0.220169,0.032258,0.176968
50%,0.262138,0.055172,0.201233,0.275862,0.061043,0.209710,0.282081,0.062425,0.208135,0.276689,0.062804,0.209707
75%,0.330297,0.105988,0.244025,0.346041,0.111193,0.248567,0.343557,0.106784,0.245353,0.346572,0.109200,0.248595
max,0.715953,0.698039,0.760824,0.789700,0.770563,0.816274,0.739130,0.722628,0.774681,0.739130,0.722628,0.774681

In [15]:
result['mv_models_64dim']['comb'].describe()

       gb_rouge-1  gb_rouge-2  gb_rouge-l
count  924.000000  924.000000  924.000000
mean     0.471477    0.191760    0.302068
std      0.079227    0.094251    0.074652
min      0.209302    0.033613    0.150372
25%      0.421648    0.122137    0.250532
50%      0.471434    0.167006    0.284301
75%      0.522620    0.244689    0.333408
max      0.724070    0.523256    0.559207

In [16]:
result['mv_models_oneoutput_64dim']['comb'].describe()

,knn_rouge-1,knn_rouge-2,knn_rouge-l,ab_rouge-1,ab_rouge-2,ab_rouge-l,rf_rouge-1,rf_rouge-2,rf_rouge-l,cb_rouge-1,cb_rouge-2,cb_rouge-l
count,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000,924.000000
mean,0.455865,0.167336,0.287530,0.469739,0.189274,0.301486,0.467698,0.188730,0.300501,0.470998,0.191155,0.302141
std,0.073080,0.081211,0.063226,0.080529,0.094373,0.074577,0.078170,0.091787,0.072652,0.079474,0.093926,0.075144
min,0.208955,0.010309,0.178963,0.213115,0.023881,0.163802,0.121901,0.035011,0.171189,0.163880,0.029070,0.141038
25%,0.408631,0.108346,0.242937,0.419113,0.121585,0.248921,0.415674,0.124000,0.250925,0.420248,0.124861,0.250608
50%,0.454319,0.148739,0.274098,0.470380,0.163046,0.286730,0.463519,0.166246,0.284586,0.470238,0.169580,0.285220
75%,0.506239,0.208340,0.318759,0.521513,0.238239,0.335304,0.521176,0.234552,0.333972,0.523448,0.239892,0.336624
max,0.700893,0.498715,0.543871,0.712329,0.566586,0.659812,0.699029,0.568702,0.642453,0.726058,0.540434,0.621397

In [23]:
h='backgroundpercutaneous tracheostomy ( pdt ) is one of the most common tracheostomy procedures performed in the intensive care unit ( icu ) . although the use of a fiberoptic bronchoscope ( fob ) during pdt has been recommended for precise positioning and to avoid complications , bronchoscopy itself can cause complications . this study assessed the safety of a simplified pdt technique using the ciaglia blue rhino , by repositioning the existing endotracheal tube at a pre - determined depth and determining proper pdt site by superficial palpation.methodsbetween november 2011 and october 2014 , 245 patients in the icu underwent bedside pdt with a ciaglia blue rhino percutaneous tracheostomy set due to prolonged endotracheal tube insertion . the first four procedures were performed by two physicians and one nurse using the standard technique , with one physician operating the bronchoscope while the other performed pdt . the next 55 procedures were performed by one physician and one nurse , with the physician using the bronchoscope only to confirm and evaluate the proper depth for the endotracheal tube before performing pdt using the simplified method described below . the remaining 186 procedures were performed using the simplified technique after repositioning the endo'

In [21]:
h = h.replace(",", ' ')
h = h.replace(".", ' ')

In [24]:
reference= 'when first introduced , percutaneous dilatational tracheostomy ( pdt ) was performed using a bronchoscope . the bronchoscope itself , however , has several disadvantages , including interruption of ventilation . modifications of the standard pdt technique have suggested that pdt can be safely performed without a bronchoscope . however , the safety of these modifications is unclear and many modifications have yet to be widely adopted . this study retrospectively evaluated the safety of a simplified pdt technique using the cook ciaglia blue rhino in 186 patients . after confirming the underlying structures by palpation , pdt was performed without a bronchoscope or blunt dissection , 2.0 cm below the cricothyroid membrane . ultrasonography was used only when palpation was difficult . except for bleeding in three patients with coagulopathy , none of the patients experienced any early or late complications , and there were no deaths related to pdt . these findings confirm that pdt can be safely performed using a simplified technique , which may be useful in situations with limited equipment and medical personnel .'

In [20]:
reference = reference.replace(",", ' ')
reference = reference.replace(".", ' ')

In [25]:
import rouge


def prepare_results(m, p, r, f):
    return '\t{}:\t{}: {:5.2f}\t{}: {:5.2f}\t{}: {:5.2f}'.format(m, 'P', 100.0 * p, 'R', 100.0 * r, 'F1', 100.0 * f)


for aggregator in ['Avg', 'Best', 'Individual']:
    print('Evaluation with {}'.format(aggregator))
    apply_avg = aggregator == 'Avg'
    apply_best = aggregator == 'Best'

    evaluator = rouge.Rouge(metrics=['rouge-n', 'rouge-l', 'rouge-w'],
                           max_n=4,
                           limit_length=True,
                           length_limit=100,
                           length_limit_type='words',
                           apply_avg=apply_avg,
                           apply_best=apply_best,
                           alpha=0.5, # Default F1_score
                           weight_factor=1.2,
                           stemming=True)


    all_hypothesis = [h]
    all_references = [reference]

    scores = evaluator.get_scores(all_hypothesis, all_references)

    for metric, results in sorted(scores.items(), key=lambda x: x[0]):
        if not apply_avg and not apply_best: # value is a type of list as we evaluate each summary vs each reference
            for hypothesis_id, results_per_ref in enumerate(results):
                nb_references = len(results_per_ref['p'])
                for reference_id in range(nb_references):
                    print('\tHypothesis #{} & Reference #{}: '.format(hypothesis_id, reference_id))
                    print('\t' + prepare_results(metric,results_per_ref['p'][reference_id], results_per_ref['r'][reference_id], results_per_ref['f'][reference_id]))
            print()
        else:
            print(prepare_results(metric, results['p'], results['r'], results['f']))
    print()

Evaluation with Avg
	rouge-1:	P: 43.82	R: 44.83	F1: 44.32
	rouge-2:	P: 14.77	R: 15.12	F1: 14.94
	rouge-3:	P:  9.20	R:  9.41	F1:  9.30
	rouge-4:	P:  6.98	R:  7.14	F1:  7.06
	rouge-l:	P: 35.86	R: 36.55	F1: 36.20
	rouge-w:	P: 20.80	R:  8.71	F1: 12.28

Evaluation with Best
	rouge-1:	P: 43.82	R: 44.83	F1: 44.32
	rouge-2:	P: 14.77	R: 15.12	F1: 14.94
	rouge-3:	P:  9.20	R:  9.41	F1:  9.30
	rouge-4:	P:  6.98	R:  7.14	F1:  7.06
	rouge-l:	P: 35.86	R: 36.55	F1: 36.20
	rouge-w:	P: 20.80	R:  8.71	F1: 12.28

Evaluation with Individual
	Hypothesis #0 & Reference #0:
		rouge-1:	P: 43.82	R: 44.83	F1: 44.32

	Hypothesis #0 & Reference #0:
		rouge-2:	P: 14.77	R: 15.12	F1: 14.94

	Hypothesis #0 & Reference #0:
		rouge-3:	P:  9.20	R:  9.41	F1:  9.30

	Hypothesis #0 & Reference #0:
		rouge-4:	P:  6.98	R:  7.14	F1:  7.06

	Hypothesis #0 & Reference #0:
		rouge-l:	P: 35.86	R: 36.55	F1: 36.20

	Hypothesis #0 & Reference #0:
		rouge-w:	P: 20.80	R:  8.71	F1: 12.28

In [27]:
text = 'abdbjsk'.encode('ascii', 'ignore')
text

b'abdbjsk'